nav{
   background-color: rgb(8, 10, 33);
   color: wheat;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
nav a{
   color: wheat;
    text-decoration: none;
    margin-right: 10px;
    font-size: 1.2rem;

}
.logout-btn{
    border: 1px solid red;
   color: aliceblue;
    border-radius: 10px;
    padding: 3px 10px;
    cursor: pointer;
   
}
.login{
    border: 1px solid red;
    border-radius: 10px;
    padding: 3px 10px;

}